<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/exercise.css">
    <title>Document</title>
</head>
<body>
    <div class="head">
        <a href="/workout"><button>GO BACK</button></a>
    </div>
    {% for exercise in exercises  %}
    <div class="container">
        {% if exercise.workout_id == 6 %}
        <div class="container-left">
            <img src="../{{exercise.video_url}}" width="400px" height="400px" alt="">
        </div>
        <div class="container-right">
            <div class="top">{{exercise.description}}</div>
            <div class="bottom">
                <span>Duration: {{exercise.duration}} seconds</span>
            </div>
            <div class="timer">
                <p><b>Timer:</b> <span id="timer">0s</span></p>
            </div>
            <div class="buttons">
                <button class="startbtn" id="startBtn" onclick="startExercise()">Start Exercise</button>
                <button class="stopbtn" id="stopBtn" onclick="stopExercise()" disabled>Stop Exercise</button>
            </div>
        </div>
        {% endif %}
    </div>
    <script src="../static/js/exo.js"></script>
    {% endfor %}
</body>
</html>