{% extends 'workouts/base.html' %}
{% load static %}

{% block content %}

    {% for workout in workouts %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeFit></title>
    <style>
         .editbtn:any-link {
color: black;
text-decoration: none;
padding: 5px 5px 5px 5px;
background-color: rgb(3, 182, 3);
border-radius: 10px;
    }
    .delbtn {
        background-color:rgb(235, 17, 17) ;
        padding: 5px 5px 5px 5px;
        border-radius: 10px;
        color: white;
        border: 1px solid transparent;
        margin-left: 10px;
    
    }
    .action_r {
        display: flex;
        flex-direction: row;
        
    }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'exercises/styles.css' %}">
   </head>
<body>

    <main>
        <section id="workout-list">
            <div class="row" style="display: flex;flex-direction: row;"> 
                <div class="workoutcard"><video id="myVideo" autoplay loop muted playsinline><source src="{{workout.video.url}}" type="video/mp4"></video><h2 class="Name">{{workout.name}}</h2><p class="diff">Difficulty: {{workout.level}}</p><p class="duration">Duration: {{workout.duration}} secs</p>
                    <a href="{% url 'workout_detail' workout.pk %}" class="link">View +</a>
                    <!-- <div class="action_r">
                        <a class="editbtn" href="{% url 'workout_update' workout.pk %}">Edit</a>
                        <form action="{% url 'workout_delete' workout.pk %}" method="post">
                            {% csrf_token %}
                            <button class="delbtn" type="submit">Delete</button>
                        </form>
                        </div>
                         -->
                </div>
            </div>
        </section>
    </main>
    {% endfor %}

{% endblock %}
</body>
</html>